{%- liquid
  assign order = order | split: ','
  assign left = ''
  assign center = ''
  assign right = ''

  if first != blank
    assign left = 'first '
  endif

  for item in order
    assign column_key = item | append: '_position'
    assign row_key = item | append: '_row'
    assign item_row = settings[row_key] | default: 'top'
    assign item_column = settings[column_key] | default: 'left'

    case item
      when 'actions'
        assign item_column = 'right'
    endcase

    if item_row == row
      case item_column
        when 'left'
          assign left = left | append: item | append: ' '
        when 'center'
          assign center = center | append: item | append: ' '
        else
          assign right = right | append: item | append: ' '
      endcase
    endif
  endfor

  assign columns = 'left,center,right' | split: ','
-%}

{%- for column in columns -%}
  {%- capture items_for_column -%}
    {% case column %}
      {% when 'left' %}
        {{ left }}
      {% when 'center' %}
        {{ center }}
      {% else %}
        {{ right }}
    {% endcase %}
  {%- endcapture -%}

  {%- assign items_array = items_for_column | strip | split: ' ' | compact -%}

  {%- if items_array.size > 0 -%}
    <div
      class="header__column header__column--{{ column }}"
      data-testid="header-{{ row }}-{{ column }}"
    >
      {% for key in items_array %}
        {% unless key == blank %}
          {% case key %}
            {% when 'first' %}
              {{ first }}
            {% when 'logo' %}
              {{ logo }}
            {% when 'menu' %}
              {{ menu }}
            {% when 'localization' %}
              {{ localization }}
            {% when 'search' %}
              {% comment %} {{ search }} {% endcomment %}

              <form
                action="/search"
                method="get"
                role="search"
                class="predictive-search-form"
                ref="form"
                on:keydown="/onSearchKeyDown"
              >
                <div class="predictive-search-form__header">
                  <div class="predictive-search-form__header-inner">
                    <label for="cmdk-input" class="visually-hidden">Search</label>
                    <input
                      class="search-input"
                      id="cmdk-input"
                      type="search"
                      name="q"
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      autocomplete="off"
                      placeholder="Search"
                      ref="searchInput"
                      on:input="/search"
                      on:keydown="/onSearchKeyDown"
                      style="padding-bottom: 10px;"
                    >
                    <input name="options[prefix]" type="hidden" value="last">
                    <button
                      type="submit"
                      aria-label="Submit Search"
                      style="border:none; background:none; padding:0; margin:0; cursor:pointer;"
                    >
                      <span class="svg-wrapper predictive-search__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                          <circle cx="9" cy="9" r="4.75" stroke="currentColor" stroke-width="var(--icon-stroke-width)"></circle><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--icon-stroke-width)" d="m12.5 12.5 3.25 3.25"></path>
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
              </form>

              <script>
                (function () {
                  if (typeof window.requestIdleCallback === 'function') {
                    window.requestIdleCallback(initAnimation, { timeout: 2000 });
                  } else {
                    setTimeout(initAnimation, 100);
                  }

                  function initAnimation() {
                    const texts = [
                      'Search Gifts for your dearest…',
                      'Search for Mangalsutra…',
                      'Search for Necklaces…',
                    ];
                    const input = document.querySelector('#cmdk-input');
                    if (!input) return;

                    const animationWorker = function (input, texts) {
                      this.input = input;
                      this.defaultPlaceholder = this.input.getAttribute('placeholder');
                      this.texts = texts;
                      this.curTextNum = 0;
                      this.curPlaceholder = '';
                      this.blinkCounter = 0;
                      this.animationFrameId = 0;
                      this.animationActive = false;
                      this.input.setAttribute('placeholder', this.curPlaceholder);

                      this.switch = (timeout) => {
                        this.input.classList.add('imitatefocus');
                        setTimeout(() => {
                          this.input.classList.remove('imitatefocus');
                          if (this.curTextNum == 0) this.input.setAttribute('placeholder', this.defaultPlaceholder);
                          else this.input.setAttribute('placeholder', this.curPlaceholder);

                          setTimeout(() => {
                            this.input.setAttribute('placeholder', this.curPlaceholder);
                            if (this.animationActive)
                              this.animationFrameId = window.requestAnimationFrame(this.animate);
                          }, timeout);
                        }, timeout);
                      };

                      this.animate = () => {
                        if (!this.animationActive) return;
                        let curPlaceholderFullText = this.texts[this.curTextNum];
                        let timeout = 900;
                        if (this.curPlaceholder == curPlaceholderFullText + '|' && this.blinkCounter == 3) {
                          this.blinkCounter = 0;
                          this.curTextNum = this.curTextNum >= this.texts.length - 1 ? 0 : this.curTextNum + 1;
                          this.curPlaceholder = '|';
                          this.switch(3000);
                          return;
                        } else if (this.curPlaceholder == curPlaceholderFullText + '|' && this.blinkCounter < 3) {
                          this.curPlaceholder = curPlaceholderFullText;
                          this.blinkCounter++;
                        } else if (this.curPlaceholder == curPlaceholderFullText && this.blinkCounter < 3) {
                          this.curPlaceholder = this.curPlaceholder + '|';
                        } else {
                          this.curPlaceholder =
                            curPlaceholderFullText
                              .split('')
                              .slice(0, this.curPlaceholder.length + 1)
                              .join('') + '|';
                          timeout = 60;
                        }
                        this.input.setAttribute('placeholder', this.curPlaceholder);
                        setTimeout(() => {
                          if (this.animationActive) this.animationFrameId = window.requestAnimationFrame(this.animate);
                        }, timeout);
                      };

                      this.stop = () => {
                        this.animationActive = false;
                        window.cancelAnimationFrame(this.animationFrameId);
                      };

                      this.start = () => {
                        this.animationActive = true;
                        this.animationFrameId = window.requestAnimationFrame(this.animate);
                        return this;
                      };
                    };

                    let aw = new animationWorker(input, texts).start();
                    input.addEventListener('focus', (e) => aw.stop());
                    input.addEventListener('blur', (e) => {
                      aw = new animationWorker(input, texts);
                      if (e.target.value == '') setTimeout(aw.start, 2000);
                    });
                  }
                })();
              </script>

            {% when 'mobile_search' %}
              {{ mobile_search }}
            {% when 'actions' %}
              {{ actions }}
          {% endcase %}
        {% endunless %}
      {% endfor %}
    </div>
  {%- endif -%}
{%- endfor -%}
